<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img src="assets/ps-logo.png" alt="" width="140" height="32" />
  </div>
  <div class="menu-bar__item">
    <ul>
      <li>
        <a
          href="https://www.linkedin.com/in/gabriel-correia-6b2bb3276/"
          target="_blank"
          >LINKEDIN</a
        >
      </li>
      <li>
        <a href="https://github.com/GabrielCorreia19" target="_blank">GITHUB</a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/biel.bob/?next=https%3A%2F%2Fwww.instagram.com%2Fdirect%2Finbox%2F%3F__coig_login%3D1"
          target="_blank"
          >INSTAGRAM</a
        >
      </li>
    </ul>
  </div>
</div>
